<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.utdallas.hf"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".ui.Login"
                  android:label="@string/loginTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.DoctorView"
                  android:label="@string/doctorViewTitle">
        </activity>
        <activity android:name=".ui.PatientView"
                  android:label="@string/patientViewTitle">
        </activity>
        <activity android:name=".ui.LabReview"
                  android:label="@string/labReviewsTitle">
        </activity>
         <activity android:name=".ui.MedicationList"
                  android:label="@string/medicationListTitle">
        </activity>
        <activity android:name=".ui.DoctorNotes"
                  android:label="@string/doctorNotesTitle">
        </activity>

    </application>
    <uses-sdk android:minSdkVersion="7" />

</manifest> 